:root{
  --color-1: #f2f2f2;
  --color-2: #fff;
  --color-3: #2F527B;
  --color-4: rgba(96, 102, 208, 0.70);
  --color-5: #F9A826;
  --color-6: rgba(252, 168, 47, 0.40);
  --color-7: #EA8282;
  --color-8: #60BF88;
  --color-9:#1D355D;
  --color-10: #ccc;
}

body {
  margin: 0;
}

html {
  font-family: 'Poppins', sans-serif;
}
